.button {
  padding: 0.125rem 0.5rem;
  color: var(--secondary-color);
  font-size: 0.7rem;
  line-height: 1.1rem;
  text-transform: uppercase;
  background: none;
  border: none;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: 150ms;
}

.button-accent {
  color: white;
  background-color: var(--main-color);
  transition: 100ms;
}

.button-accent:hover {
  background: color-mix(in srgb, var(--main-color) 90%, white);
}

.button:hover {
  border: 1px solid var(--main-color);
}
